  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* Colors */

    /* Base colors */
    --base-white: #FFFFFF;
    --base-black: #000000;
    /* Gray colors */
    --gray-25: #FCFCFD;
    --gray-50: #F9FAFB;
    --gray-100: #F2F4F7;
    --gray-200: #EAECF0;
    --gray-300: #D0D5DD;
    --gray-400: #98A2B3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1D2939;
    --gray-900: #101828;
    /* Primary colors */
    --primary-25: #FCFAFF;
    --primary-50: #F9F5FF;
    --primary-100: #F4EBFF;
    --primary-200: #E9D7FE;
    --primary-300: #D6BBFB;
    --primary-400: #B692F6;
    --primary-500: #9E77ED;
    --primary-600: #7F56D9;
    --primary-700: #6941C6;
    --primary-800: #53389E;
    --primary-900: #42307D;
    /* Error colors */
    --error-25: #FFFBFA;
    --error-50: #FEF3F2;
    --error-100: #FEE4E2;
    --error-200: #FECDCA;
    --error-300: #FDA29B;
    --error-400: #F97066;
    --error-500: #F04438;
    --error-600: #D92D20;
    --error-700: #B42318;
    --error-800: #912018;
    --error-900: #7A271A;
    /* Warning colors */
    --warning-25: #FFFCF5;
    --warning-50: #FFFAEB;
    --warning-100: #FEF0C7;
    --warning-200: #FEDF89;
    --warning-300: #FEC84B;
    --warning-400: #FDB022;
    --warning-500: #F79009;
    --warning-600: #DC6803;
    --warning-700: #B54708;
    --warning-800: #93370D;
    --warning-900: #7A2E0E;
    /* Success colors */
    --success-25: #F6FEF9;
    --success-50: #ECFDF3;
    --success-100: #D1FADF;
    --success-200: #A6F4C5;
    --success-300: #6CE9A6;
    --success-400: #32D583;
    --success-500: #12B76A;
    --success-600: #039855;
    --success-700: #027A48;
    --success-800: #05603A;
    --success-900: #054F31;

    /* Typography */

    /* Text sm/Medium */
    --text-sm-size: 14px;
    --text-sm-style: normal;
    --text-sm-weight: 500;
    --text-sm-line-height: 20px;    
    /* Text md/Normal */
    --text-md-normal-size: 16px;
    --text-md-normal-style: normal;
    --text-md-normal-weight: 400;
    --text-md-normal-line-height: 24px;
    /* Text md/Medium */
    --text-md-medium-size: 16px;
    --text-md-medium-style: normal;
    --text-md-medium-weight: 500;
    --text-md-medium-line-height: 24px;
    /* Text lg/Normal */
    --text-lg-normal-size: 18px;
    --text-lg-normal-style: normal;
    --text-lg-normal-weight: 400;
    --text-lg-normal-line-height: 28px;
    /* Text lg/Medium */
    --text-lg-normal-size: 18px;
    --text-lg-normal-style: normal;
    --text-lg-normal-weight: 500;
    --text-lg-normal-line-height: 28px;
    /* Text xl/Medium */
    --text-xl-medium-size: 20px;
    --text-xl-medium-style: normal;
    --text-xl-medium-weight: 500;
    --text-xl-medium-line-height: 30px;
    /* Text xl/Normal */
    --text-xl-normal-size: 20px;
    --text-xl-normal-style: normal;
    --text-xl-normal-weight: 400;
    --text-xl-normal-line-height: 30px;
    /* Display sm/Semibold */
    --display-sm-semibold-size: 30px;
    --display-sm-semibold-style: normal;
    --display-sm-semibold-weight: 600;
    --display-sm-semibold-line-height: 38px;
    /* Display md/Semibold */
    --display-md-semibold-size: 36px;
    --display-md-semibold-style: normal;
    --display-md-semibold-weight: 600;
    --display-md-semibold-line-height: 44px;
    --display-md-semibold-spacing: -0.72px;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    width: 100vw;
    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
  }

  @font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter-Variable.ttf") format("truetype-variations");
    font-weight: 1 999;
  }

  /* Features section */

  .features-section {
    padding: 96px 0px;
    background: var(--gray-50);

    @media (max-width: 600px) {
      padding: 64px 0px;
    }
  }

  .features-container {
    padding: 0px 32px;

    @media (max-width: 600px) {
      padding: 0px 16px;
    }
  }

  .feature-content {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  .feature-icon {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    border: 8px solid var(--primary-50);
    background: var(--primary-100);

    @media (max-width: 600px) {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }

  .feature-icon svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    @media (max-width: 600px) {
      width: 20px;
      height: 20px;
    }
  }

  .feature-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media (max-width: 600px) {
      gap: 4px;
    }
  }

  .feature-text-md {
    text-align: center;
    color: var(--gray-500);
    font-size: var(--text-md-normal-size);
    font-style: var(--text-md-normal-style);
    font-weight: var(--text-md-normal-weight);
    line-height: var(--text-md-normal-line-height);
  }

  .feature-text-xl {
    text-align: center;
    color: var(--gray-900);
    font-size: var(--text-xl-medium-size);
    font-style: var(--text-xl-medium-style);
    font-weight: var(--text-xl-medium-weight);
    line-height: var(--text-xl-medium-line-height);

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  /* Integrations section */

  .integrations-section {
    display: flex;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    @media (max-width: 600px) {
      padding: 64px 0px;
      gap: 48px;
    }
  }

  .integrations-container-1 {
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 600px) {
      padding: 0px 16px;
      gap: 32px;
    }
  }

  .integrations-container-2 {
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;

    @media (max-width: 600px) {
      padding: 0px 16px;
      gap: 32px;
    }
  }

  .integrations-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 768px;
  }

  .integrations-heading-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .integrations-badge {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--primary-50);
    color: var(--primary-700);
    text-align: center;
    font-size: var(--text-sm-size);
    font-style: var(--text-sm-style);
    font-weight: var(--text-sm-weight);
    line-height: var(--text-sm-line-height);

    @media (max-width: 600px) {
      padding: 2px 10px;
    }
  }

  .integrations-heading-badge p {
    color: var(--gray-900);
    text-align: center;
    font-size: var(--display-md-semibold-size);
    font-style: var(--display-md-semibold-style);
    font-weight: var(--display-md-semibold-weight);
    line-height: var(--display-md-semibold-line-height);
    letter-spacing: var(--display-md-semibold-spacing);

    @media (max-width: 600px) {
      font-size: var(--display-sm-semibold-size);
      font-style: var(--display-sm-semibold-style);
      font-weight: var(--display-sm-semibold-weight);
      line-height: var(--display-sm-semibold-line-height);
    }
  }

  .integrations-heading-badge-desc {
    text-align: center;
    color: var(--gray-500);
    font-size: var(--text-xl-normal-size);
    font-style: var(--text-xl-normal-style);
    font-weight: var(--text-xl-normal-weight);
    line-height: var(--text-xl-normal-line-height);

    @media (max-width: 600px) {
      font-size: var(--text-lg-normal-size);
      font-style: var(--text-lg-normal-style);
      font-weight: var(--text-lg-normal-weight);
      line-height: var(--text-lg-normal-line-height);
    }
  }

  .integrations-container-content-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .integrations-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
  }

  .integrations-item svg {
    width: 64px;
    height: 64px;

    @media (max-width: 600px) {
      width: 48px;
      height: 48px;
    }
  }

  .integrations-item-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .integrations-item-desc-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .integrations-item-desc-heading {
    text-align: center;
    color: var(--gray-900);
    font-size: var(--text-xl-medium-size);
    font-style: var(--text-xl-medium-style);
    font-weight: var(--text-xl-medium-weight);
    line-height: var(--text-xl-medium-line-height);

    @media (max-width: 600px) {
      font-size: var(--text-lg-medium-size);
      font-style: var(--text-lg-medium-style);
      font-weight: var(--text-lg-medium-weight);
      line-height: var(--text-lg-medium-line-height);
    }
  }

  .integrations-item-desc-desc {
    text-align: center;
    color: var(--gray-500);
    font-size: var(--text-md-normal-size);
    font-style: var(--text-md-normal-style);
    font-weight: var(--text-md-normal-weight);
    line-height: var(--text-md-normal-line-height);
  }

  .integrations-button {
    border: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex;
    align-items: center;
    background: none;
    color: var(--primary-700);
    cursor: pointer;
    stroke: var(--primary-700);
    font-size: var(--text-md-medium-size);
    font-style: var(--text-md-medium-style);
    font-weight: var(--text-md-medium-weight);
    line-height: var(--text-md-medium-line-height);
  }
  
  .integrations-button svg {
    width: 20px;
    height: 20px;
  }

  .integrations-button:hover {
    color: var(--primary-800);
    stroke: var(--primary-800);
  }

  .integrations-button:disabled {
    color: var(--gray-300);
    stroke: var(--gray-300);
    cursor: not-allowed;
  }

  .integrations-button:disabled:hover {
    color: var(--gray-300);
    stroke: var(--gray-300);
    cursor: not-allowed;
  }